<a href="https://colab.research.google.com/github/AAmosen/person_counter/blob/master/analyse1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python kode til at bekandle data fra person tælleren**

Det forudsættes at filen ligger på github og har følgende format:

Id,Start_c,end_c,start_epoch,end_epock

15,5250,9571,1592836979,1592841300

Først skal pandas indlæses og udskriv hvilæken version vi køre på

In [4]:
import pandas as pd
pd.__version__

'1.0.5'

In [5]:
df =  pd.read_csv("https://raw.githubusercontent.com/Esbern/person_counter/master/counter_1.csv?token=AAM6QHN3YHBSA4FOZWWEOKS675APO")

En hurtig statistisk rapport

In [8]:
df.describe()

                 Id       Start_c         end_c   start_epoch     end_epock
count  23532.000000  2.353200e+04  2.353200e+04  2.353200e+04  2.353200e+04
mean       8.185705  5.300232e+07  5.300380e+07  1.645834e+09  1.645836e+09
std        4.322378  3.489730e+07  3.489732e+07  3.489730e+07  3.489732e+07
min        0.000000  2.530000e+03  9.571000e+03  1.592834e+09  1.592841e+09
25%        6.000000  5.961666e+06  5.962688e+06  1.598793e+09  1.598794e+09
50%        7.000000  6.715816e+07  6.715904e+07  1.659990e+09  1.659991e+09
75%       12.000000  8.308364e+07  8.308485e+07  1.675915e+09  1.675917e+09
max       15.000000  1.325746e+08  1.325754e+08  1.725406e+09  1.725407e+09

Udskriv data type, tabel størrelse samt de første og sidste linjer som kontrold

In [8]:
print(df.dtypes)
print(df.index)
print(df.head())
print(df.tail())

Id             int64
Start_c        int64
end_c          int64
start_epoch    int64
end_epock      int64
duration       int64
dtype: object
RangeIndex(start=0, stop=23532, step=1)
   Id  Start_c  end_c  start_epoch   end_epock  duration
0  15     5250   9571   1592836979  1592841300      4321
1   6     5369   9650   1592837098  1592841379      4281
2   7     5369   9650   1592837098  1592841379      4281
3  14     6569   9651   1592838298  1592841380      3082
4   5     5449   9770   1592837178  1592841499      4321
       Id    Start_c      end_c  start_epoch   end_epock  duration
23527  14  132226457  132227340   1725058186  1725059069       883
23528  15  132226458  132227340   1725058187  1725059069       882
23529   6  132574437  132575439   1725406166  1725407168      1002
23530  13  132574558  132575440   1725406287  1725407169       882
23531  14  132574438  132575440   1725406167  1725407169      1002

In [6]:
df['duration'] = df.end_epock - df.start_epoch

In [9]:
df[day] = pd.to_datetime(df.start_epoch,unit='D')

AttributeError: ignored